.button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonCompra {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  border-radius: 12px;
}

.buttonCompra:hover {
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonMonto {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 12px;
}

.buttonMonto:hover {
  background-color: #555555;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.result-container {
  background-color: white;
  max-width: 500px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  word-wrap: break-word;
  text-align: center;
}